@import 'assets/media';

.snack-modal {
  width: 100%;

  @include media-sm-up {
    max-width: 800px;
  }

  &__card {
    @include media-sm-down {
      border-radius: 0 !important;
    }
  }

  &__locations {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__location {
    margin-top: 12px;
  }

  &__chip,
  &__location {
    width: fit-content;
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
